#character-container {
    position: absolute; /* Change to absolute positioning */
    bottom: 580px; /* Position from the bottom */
    left: 400px; /* Position from the left */
    width: 450px; /* Adjust width according to your character size */
    height: auto;
    z-index: 1; /* Ensure it appears above the background */
}

#character-video {
    width: 100%; /* Adjust to the desired size */
}
#drop-area {
    border: 2px dashed darkgreen;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer; /* Show a pointer cursor on hover */
}

#drop-area.hover {
    border-color: green; /* Change border color on hover */
}

#chat-cloud {
    position: absolute;
    bottom: 70%; /* Position above the character */
    left: 90%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border: 2px solid darkgreen;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    /* By default, it will be shown unless the hidden class is applied */
}
.hidden {
    display: none;
}
